<ion-header class="ion-no-border">
  <ion-toolbar >
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="message-container">
      <h2 class="main-page-title">¡CAMBIA TU CONTRASEÑA!</h2>
      <p class="message-description">Asegúrate de que tu nueva contraseña sea diferente a la anterior.</p>
    </div>

    <div class="password-reset-card">
      <ion-list lines="none">
        <ion-item>
          <ion-input type="password" [(ngModel)]="newPassword" class="custom-input" placeholder="Ingrese su nueva contraseña aquí"></ion-input>
        </ion-item>

        <ion-item class="ion-no-padding ion-text-center">
          <ion-button expand="block" class="action-button" (click)="resetPassword()">
            Actualizar
          </ion-button>
        </ion-item>

        <ion-item lines="none" class="ion-no-padding ion-text-center back-to-login">
          <ion-button fill="clear" routerLink="/login" class="link-button">
            ¿Volver al Login?
          </ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>