<ion-content>
  <div class="header">
    <div class="text-header-left">
      <p>Hola,</p>
      <ion-label class="nom" *ngIf="!editando; else editNombreCompleto">
        {{ nombrecompleto || 'Cargando...' }}
      </ion-label>
      <ng-template #editNombreCompleto>
        <ion-input [(ngModel)]="nombres" placeholder="Nombres" class="nom"></ion-input>
        <ion-input [(ngModel)]="apellidos" placeholder="Apellidos" class="nom"></ion-input>
      </ng-template>
      <p>De vuelta a la universidad!</p>
    </div>

    <div class="text-header-right">
      <div class="imgper"></div>

      <div class="btn-icono-editar">
        <button id="btn-editar-perfil" (click)="toggleEditarPerfil()">
          <ion-icon [name]="editando ? 'save-outline' : 'create-outline'" id="icono-editar"></ion-icon> Editar
        </button>
      </div>

    </div>
  </div>

  <ion-list lines="none" class="ion-text-center profile-list">
    <div class="main-data-user">
      <ion-row class="info-user-row">
        <ion-col class="info-block">
          <div class="label">Código Estudiante</div>
          <div class="sub-container">
            <ion-input *ngIf="editando; else viewCodigoEstudiante" [(ngModel)]="codigo_estudiante"
              placeholder="Ingrese código de estudiante" class="sub-form" disabled></ion-input>
            <ng-template #viewCodigoEstudiante>
              <div class="sub-form">{{ codigo_estudiante }}</div>
            </ng-template>
          </div>
        </ion-col>

        <div class="divider"></div>

        <ion-col class="info-block">
          <div class="label">Carrera</div>
          <div class="sub-container">
            <ion-input *ngIf="editando; else viewCarrera" [(ngModel)]="carreraE" placeholder="Ingrese carrera"
              class="sub-form"></ion-input>
            <ng-template #viewCarrera>
              <div class="sub-form">{{ carreraE }}</div>
            </ng-template>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div class="form-container-profile">
      <div class="form-grid">
        <div class="form-col">
          <div class="form-row duo">
            <div class="form-group">
              <div class="tit">Ciclo:</div>
              <div class="sub-container">
                <ion-input *ngIf="editando; else viewCiclo" [(ngModel)]="cicloE" placeholder="Ingrese ciclo"
                  class="sub-form"></ion-input>
                <ng-template #viewCiclo>
                  <div class="sub-form">{{ cicloE }}</div>
                </ng-template>
              </div>
            </div>
            <div class="form-group">
              <div class="tit">Edad:</div>
              <div class="sub-container">
                <ion-input *ngIf="editando; else viewEdad" [(ngModel)]="edadE" placeholder="Ingrese edad" type="number"
                  class="sub-form"></ion-input>
                <ng-template #viewEdad>
                  <div class="sub-form">{{ edadE }}</div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group full">
              <div class="tit">Sexo:</div>
              <div class="sub-container">
                <ion-select *ngIf="editando; else viewSexo" [(ngModel)]="sexoE" placeholder="Seleccione sexo"
                  class="sub-form">
                  <ion-select-option value="Masculino">Masculino</ion-select-option>
                  <ion-select-option value="Femenino">Femenino</ion-select-option>
                  <ion-select-option value="Otro">Otro</ion-select-option>
                </ion-select>
                <ng-template #viewSexo>
                  <div class="sub-form">{{ sexoE }}</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>

        <div class="form-col">
          <div class="form-row">
            <div class="form-group full">
              <div class="tit">Correo universitario:</div>
              <div class="sub-container">
                <ion-input *ngIf="editando; else viewCorreoE" [(ngModel)]="correoE"
                  placeholder="Ingrese correo universitario" type="email" class="sub-form" disabled></ion-input>
                <ng-template #viewCorreoE>
                  <div class="sub-form">{{ correoE }}</div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group full">
              <div class="tit">Correo del apoderado:</div>
              <div class="sub-container">
                <ion-input *ngIf="editando; else viewCorreoA" [(ngModel)]="correoA"
                  placeholder="Ingrese correo del apoderado" type="email" class="sub-form"></ion-input>
                <ng-template #viewCorreoA>
                  <div class="sub-form">{{ correoA }}</div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="content-navigation">
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/perfil" class="nav-btn">
            <ion-icon name="people-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/home" class="nav-btn">
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/historial" class="nav-btn">
            <ion-icon name="clipboard-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button fill="clear" routerLink="/login" class="nav-btn">
            <ion-icon name="log-in-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>