ion-content{
    --background: #F1F1F1;
}

ion-list{
    background: #F1F1F1;
}

.nombre{
    --background: transparent;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ionit{
    --background: transparent;
    margin-top: 20px;
}

.ioniit{
    --background: transparent;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background-color: #F1F1F1; /* Color de fondo */
}
.tit{
    color: #073A8D;
    font-size: 50px;
    text-transform: none;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-right: 0px;
    display: flex;
    margin-top: 0px;
    text-align: left;
}

.sub-tit{
    color: #073A8D;
    font-size: 20px;
    text-transform: none;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    margin-right: 0px;
    display: flex;
    text-align: left;
}


.text {
  display: flex; /* Necesario para usar justify-content */
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente (si aplica) */
  color: #BFBFBF;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  margin: 0px 10px 30px 10px;
  text-align: center; /* Para centrar el texto si hay más de una línea */
}


.imgper{
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(200, 200, 200);

}
.imgper .foto{
    align-items: center;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    color: aliceblue;
}

.nom{
    color: rgb(17, 17, 17);
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.btn-qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-qr{
    --box-shadow: none;
    --background: #C21C1C;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 20px;
    --border-radius: 20px;
    height: 50px;
    width: 70%;
    margin: auto;
    text-transform: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(1); /* Estado normal */
}

.btn-qr:hover {
    --background: #7f0202;
    color: white;
    transform: scale(1.01); /* Escala al hacer hover */
}

.select-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px auto;
  padding: 10px 20px 10px 20px;
  height: 50px;
  width: 70%;
  background-color: white; /* O lo que necesites */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.toggle-label {
  font-size: 14px;
  font-weight: bold;
  color: #151515;
  font-family: 'Inter', sans-serif;

}




///FOOTER

//NAVIGATION

.content-navigation {
  background-color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: start;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

.btnex{
  --box-shadow: none;
  margin: auto;
  width: 90px;
  font-weight: 700;
  height: 35px;
  font-size: 15px;
  --border-radius: 10px;
  text-transform: none;
}

ion-row {
  border: none;
  background-color: #ffffff;
  margin-top: 20px;
  gap: 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07);
  color:#073A8D ;

}

ion-row:nth-child(even) {
  background-color: #F1F1F1;
}

ion-row {
  padding: 12px 0;
}

ion-col {
  padding: 0px;
  text-align: center;
}

ion-item-background{
background-color: #ae1717;
}   

.table-container{
  padding: 0;
}

ion-footer ion-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: none; /* Eliminar la sombra */
}

ion-footer ion-toolbar ion-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px; /* Agregar un poco de espacio de relleno */
  margin: 0px;
}

ion-footer ion-toolbar ion-grid ion-button {
  --padding-start: 0.75rem;
  --padding-end: 0.75rem;
}

.nav-btn ion-icon {
  font-size: 1.5rem;
  color: rgb(7, 58, 141);
  transition: color 0.3s ease;
}

.nav-btn:hover ion-icon {
  color: #ff1818;
}